@font-face{
    font-family: hkgrotesk;
    src: url('../../assets/fonts/hkgrotesk-regular.woff') format('woff');
    font-size: 17px;
    line-height: 28px;
    font-weight: 200;
    color: #515456;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
h1{
  font-size: 8VW;
  line-height: .75em;
  letter-spacing: -1px;
  font-weight: 700;
}
.error{
  color: red;
}
div > h1{
  color: white!important;
}
h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#intro {
  padding-top: 15VW;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
 h2, #fade, #introtext {
  opacity: 0;
  padding: 1%;
}
/************** FASTER TRANSITION *****************/


@keyframes color {
  0% {
      opacity: 0;
  } 100% {
      opacity: 1;
  }
}

.color {
animation-name: color;
animation-duration: 2000ms;
animation-delay: 800ms;
opacity: 0;
animation-fill-mode: forwards;
}


@keyframes swipe {
  0% {
      opacity: 100;
      width: 100%;
      transform: translateX(-250%);
  }
  
  50% {
      opacity: 100;
      width: 100%;
      transform: translateX(0);
  }
  
  100% {
      opacity: 100;
      width: 100%;
      transform: translateX(100%);
  }
}

.swipe {
  animation-name: swipe;
  animation-duration: 2000ms;
  animation-delay: -250ms;
  animation-fill-mode: forwards;
  background: #edf1f4;
  height: 100%;
  position: absolute;
  width: 0%;
  opacity: 0;
  z-index: 1;
}


@keyframes swipe250 {
  0% {
      opacity: 100;
      width: 100%;
      transform: translateX(-250%);
  }
  
  50% {
      opacity: 100;
      width: 100%;
      transform: translateX(0);
  }
  
  100% {
      opacity: 100;
      width: 100%;
      transform: translateX(100%);
  }
}

.swipe250 {
  animation-name: swipe250;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  background: #333;
  height: 100%;
  position: absolute;
  width: 0%;
  z-index: 2;
  opacity: 0;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.block-reveal {
  overflow: hidden;
  position: relative;
  min-width: 100%;
}
#wrapper section {
    top: 9%!important;    
    position: relative;
    margin: 0 auto; }
    #wrapper section.links {
      width: calc(100% - 100px);
      min-height: calc(100vh - 200px);
      max-width: 520px;
      padding-bottom: 20px; }
      @media screen and (max-width: 500px) {
        #wrapper section.links {
          width: calc(100% - 60px);
          padding-bottom: 0; } }
      #wrapper section.links .year {
        position: absolute;
        left: 0;
        line-height: 38px;
        font-weight: bold;
        letter-spacing: 0.06em;
        color: black; }
      #wrapper section.links .month {
        display: inline-block;
        text-align: right;
        float: right;
        line-height: 38px;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: black;
        margin-bottom: 20px; }
      #wrapper section.links ul {
          padding-left: 0px;
        list-style: none;
        margin-bottom: 50px;
        transition: all 0.2s linear; }
        #wrapper section.links ul:after {
          content: '';
          clear: both;
          display: block; }
        @media screen and (max-width: 500px) {
          #wrapper section.links ul {
            margin-bottom: 40px; } }
        #wrapper section.links ul li {
          cursor: pointer;
          width: 100%;
          height: 50px;
          display: block;
          position: relative;
          float: left;
          transition: all 0.3s linear, opacity 0.2s linear; }
          @media screen and (max-width: 500px) {
            #wrapper section.links ul li {
              height: 40px; } }
          #wrapper section.links ul li.hide {
            opacity: 0.3; }
          #wrapper section.links ul li.hidden {
            height: 0;
            opacity: 0;
            visibility: hidden; }
          #wrapper section.links ul li:before {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: #272727;
            opacity: 0.08;
            top: 14px;
            left: 0;
            z-index: 1;
            transition: all 0.2s linear; }
            @media screen and (max-width: 500px) {
              #wrapper section.links ul li:before {
                display: none; } }
          #wrapper section.links ul li:hover, #wrapper section.links ul li:active {
            opacity: 1 !important; }
            #wrapper section.links ul li:hover:before, #wrapper section.links ul li:active:before {
              opacity: 0.6; }
          #wrapper section.links ul li a {
            width: 100%;
            display: block;
            position: relative;
            border: 0;
            float: left;
            z-index: 4;
            overflow: hidden; }
            #wrapper section.links ul li a .title {
              display: block;
              float: left;
              position: relative; }
              #wrapper section.links ul li a .title h4 {
                width: calc(100% - 8px);
                height: 40px;
                display: block;
                position: relative;
                padding-right: 8px;
                white-space: nowrap;
                z-index: 3;
                float: left; }
                @media screen and (max-width: 500px) {
                  #wrapper section.links ul li a .title h4 {
                    height: 30px; } }
                @media screen and (max-width: 500px) {
                  #wrapper section.links ul li a .title h4.overflow {
                    padding-right: 200px; } }
              #wrapper section.links ul li a .title:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: white;
                left: 0;
                z-index: 2; }
            #wrapper section.links ul li a .date {
              position: absolute;
              top: 0;
              right: 0;
              z-index: 4;
              -webkit-transition: all 0.15s linear;
              transition: all 0.15s linear; }
              #wrapper section.links ul li a .date:before {
                content: '';
                width: 6px;
                height: 100%;
                position: absolute;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
                top: 0;
                right: 100%;
                z-index: 1; }
                @media screen and (max-width: 500px) {
                  #wrapper section.links ul li a .date:before {
                    width: 30px; } }
              #wrapper section.links ul li a .date:after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: white;
                top: 0;
                right: 0;
                z-index: 1; }
              #wrapper section.links ul li a .date span {
                position: relative;
                opacity: 0.2;
                z-index: 2; }
            #wrapper section.links ul li a:after {
              content: '';
              width: 16px;
              height: 13px;
              position: absolute;
              top: 9px;
              right: 0;
              background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="17px" height="14px" viewBox="0 0 17 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.7"><g id="Artboard-Copy-11" transform="translate(-872.000000, -2066.000000)" stroke="black" stroke-width="1.5"><g id="arrow" transform="translate(880.490381, 2073.069507) rotate(180.000000) translate(-880.490381, -2073.069507) translate(872.490381, 2066.569507)"><path d="M1.0804038,6.76950694 L15.6703738,6.76950694" id="Line"></path><path d="M0.487749094,7.37181072 L6.82588282,0.68336081" id="Line-Copy"></path><path d="M0.486030816,12.6847475 L6.6364344,6.19440378" id="Line-Copy-2" transform="translate(3.561233, 9.439576) scale(-1, 1) rotate(-180.000000) translate(-3.561233, -9.439576) "></path></g></g></g></svg>');
              background-size: 16px;
              background-color: white;
              background-position: right;
              background-repeat: no-repeat;
              padding-left: 8px;
              z-index: 2;
              opacity: 0;
              transition: all 0.15s ease; }
              @media screen and (max-width: 500px) {
                #wrapper section.links ul li a:after {
                  display: none; } }
            #wrapper section.links ul li a:hover, #wrapper section.links ul li a:active {
              border: 0;
              color: #272727 !important; }
              #wrapper section.links ul li a:hover .date, #wrapper section.links ul li a:active .date {
                        transform: translateX(-22px); }
                @media screen and (max-width: 500px) {
                  #wrapper section.links ul li a:hover .date, #wrapper section.links ul li a:active .date {
                            transform: translateX(0); } }
                #wrapper section.links ul li a:hover .date span, #wrapper section.links ul li a:active .date span {
                  opacity: 1; }
              #wrapper section.links ul li a:hover:after, #wrapper section.links ul li a:active:after {
                opacity: 1; }
            #wrapper section.links ul li a:visited {
              opacity: 0.3; }