
#Container{
    width:60%;
    height:330px;
    position: absolute;
    left:1%; top:6em;
    animation:entrance 800ms 1;
    animation-direction:normal;
    }
   
    #Container div{
    position: absolute;
    opacity: 1;
    
    }
    @keyframes entrance
    {
    0%   {  left:-50%; top:6em;}
    100%  {left:1%; top:6em;}
    }
    @media screen and (max-width: 500px){
        #Container{
        top:2em;}
        @keyframes entrance
        {
        0%   {  left:-50%; top:2em;}
        100%  {left:1%; top:2em;}
        }
    }